body {
  background-image: linear-gradient(to right, grey, rgb(187, 101, 101));
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe-container {

  display: inline-flex;
}

ul {
  list-style: none;
}
img {
  display: flexbox;
  width: 15%;
  height: auto;
}